body {
    margin: 0;
    min-height: 100vh;

    background-image: url("itphTWz1YB6Y0XmUIw0tl6-4YQLPuAcTurkJa3BOkpo (1).webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

p{
    text-align: center;
    color: pink;
}
#para1{
    text-align: center;
    color: TOMATO;
}

.center{
    text-align: center;
    color: rgb(255, 255, 255);
}
p.center{
    text-align: center;
    color: rgb(186, 184, 184);
}

*{
    color: rgba(59, 60, 92, 0.87);
    font-size: 20px;
}

h1,h2, p{
    text-align: center;
    color: rgba(222, 219, 219, 0.982);
}
.ok {
border-style:dotted solid double dashed ;
}

.Bi {
    background-color: indigo;
    border: 2px solid brown;
    border-radius: 50%;
    width: 250px;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    margin: 40px auto;
}

h2 {
   text-align: center;
   margin-top: 40px;
}

.box {
   background-color: aliceblue;
   width: 200px;
   border: 5px solid rgba(68, 127, 68, 0.812);
   padding: 20px;
   margin: 20px auto;
   color: black;
   outline: 5px solid red;
   text-align: center;
   text-decoration-line: overline underline;
   text-decoration-color: aqua;
   text-decoration-thickness: 2px;
   text-shadow: 2px 1px green;
}

a {
   font-size: 20px;
   transition: 0.3s ease;
}
.simple-link {
   text-decoration: none;
   color: white;
}

.simple-link:hover {
   color: yellow;
   text-decoration: underline;
}
.underline-hover {
   text-decoration: none;
   color: lightblue;
}

.underline-hover:hover {
   text-decoration: underline;
   color: white;
}

.button-link {
   text-decoration: none;
   background-color: indigo;
   color: white;
   padding: 10px 20px;
   border-radius: 8px;
   display: inline-block;
}

.button-link:hover {
   background-color: purple;
   transform: scale(1.05);
}

.thin {
    font-weight: 100;
}

.normal {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.extra {
    font-weight: 900;
}

.body {
    font-family: 'Poppins', sans-serif;
}

h1::first-letter{
   font-family: Lucida calligraphy;
   color: red;
   text-shadow: 5px 8px 9px greenyellow;
   font-size: 30px;
   font-weight: 900;
   margin-right: 5px;
}

h1{
   color: blue;
}

.side-image{
  transform: translate(300px, -150px) rotate3d(1,2,3,45deg);
  width: 150px;
}








